In [ ]:
# Loan Portfolio Risk & Profitability Analysis
# This script performs data cleaning, feature engineering, and exploratory analysis
# on a secured loan portfolio dataset to identify risk and profitability drivers.

In [19]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [7]:
# Import necessary libraries
data = pd.read_csv(r"C:\Users\grace\Downloads\Loan_dataset.csv")
print(data.shape)

(38576, 27)

In [8]:
# Top 5 rows
print(data.head(5))

        id address_state application_type emp_length              emp_title  \
0  1077430            GA       INDIVIDUAL   < 1 year                  Ryder
1  1072053            CA       INDIVIDUAL    9 years         Mkc Accounting
2  1069243            CA       INDIVIDUAL    4 years  Chemat Technology Inc
3  1041756            TX       INDIVIDUAL   < 1 year    Barnes Distribution
4  1068350            IL       INDIVIDUAL  10+ years          J&J Steel Inc

  grade home_ownership  issue_date last_credit_pull_date last_payment_date  \
0     C           Rent  11-02-2021      13-09-2021 00:00  13-04-2021 00:00
1     E           Rent  01-01-2021      14-12-2021 00:00  15-01-2021 00:00
2     C           Rent  05-01-2021      12-12-2021 00:00  09-01-2021 00:00
3     B       Mortgage  25-02-2021      12-12-2021 00:00  12-03-2021 00:00
4     A       Mortgage  01-01-2021      14-12-2021 00:00  15-01-2021 00:00

   ... annual_income     dti  installment int_rate loan_amount total_acc  \
0  ...       30000.0  0.0100        59.83   0.1527        2500         4
1  ...       48000.0  0.0535       109.43   0.1864        3000         4
2  ...       50000.0  0.2088       421.65   0.1596       12000        11
3  ...       42000.0  0.0540        97.06   0.1065        4500         9
4  ...       83000.0  0.0231       106.53   0.0603        3500        28

  total_payment  emp_length_numeric  Year  Month
0          1009                 0.5  2021      2
1          3939                 9.0  2021      1
2          3522                 4.0  2021      1
3          4911                 0.5  2021      2
4          3835                10.0  2021      1

[5 rows x 27 columns]

In [3]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38576 entries, 0 to 38575
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38576 non-null  int64
 1   address_state          38576 non-null  object
 2   application_type       38576 non-null  object
 3   emp_length             38576 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  38576 non-null  object
 6   home_ownership         38573 non-null  object
 7   issue_date             38576 non-null  object
 8   last_credit_pull_date  38576 non-null  object
 9   last_payment_date      38576 non-null  object
 10  loan_status            38576 non-null  object
 11  next_payment_date      38576 non-null  object
 12  member_id              38576 non-null  int64
 13  purpose                38576 non-null  object
 14  sub_grade              38576 non-null  object
 15  term                   38576 non-null  object
 16  verification_status    38576 non-null  object
 17  annual_income          38576 non-null  float64
 18  dti                    38576 non-null  float64
 19  installment            38576 non-null  float64
 20  int_rate               38576 non-null  float64
 21  loan_amount            38576 non-null  int64
 22  total_acc              38576 non-null  int64
 23  total_payment          38576 non-null  int64
 24  emp_length_numeric     38576 non-null  float64
 25  Year                   38576 non-null  int64
 26  Month                  38576 non-null  int64
dtypes: float64(5), int64(7), object(15)
memory usage: 7.9+ MB
None

In [5]:
# Duplicates
duplicates = data[data.duplicated()]
print(f"Total duplicate rows: {duplicates.shape[0]}")
print(duplicates)

Total duplicate rows: 0
Empty DataFrame
Columns: [id, address_state, application_type, emp_length, emp_title, grade, home_ownership, issue_date, last_credit_pull_date, last_payment_date, loan_status, next_payment_date, member_id, purpose, sub_grade, term, verification_status, annual_income, dti, installment, int_rate, loan_amount, total_acc, total_payment, emp_length_numeric, Year, Month]
Index: []

[0 rows x 27 columns]

In [4]:
# Columns with null
print(data.isnull().sum())

id                          0
address_state               0
application_type            0
emp_length                  0
emp_title                1438
grade                       0
home_ownership              3
issue_date                  0
last_credit_pull_date       0
last_payment_date           0
loan_status                 0
next_payment_date           0
member_id                   0
purpose                     0
sub_grade                   0
term                        0
verification_status         0
annual_income               0
dti                         0
installment                 0
int_rate                    0
loan_amount                 0
total_acc                   0
total_payment               0
emp_length_numeric          0
Year                        0
Month                       0
dtype: int64

In [9]:
# Percentage of null
total_rows = data.shape[0]
null_percentage = (1438 / total_rows) * 100
print(f"Percentage of nulls in emp_title: {null_percentage:.2f}%")

Percentage of nulls in emp_title: 3.73%

In [10]:
# Replace NULL with 'Not Provided'
data['emp_title']= data['emp_title'].fillna('Not Provided')

In [11]:
# Check emp_title after replacing
nulls_count_after= data['emp_title'].isnull().sum()
print(f"Nulls count after: {nulls_count_after}")

Nulls count after: 0

In [12]:
# Remove 'months' and convert to int
data['term'] = data['term'].str.replace('months', '').astype(int)

In [13]:
print(data['term'].head(5))

0    60
1    36
2    36
3    60
4    36
Name: term, dtype: int64

In [14]:
# Feature Engineering
# Interest Paid
# Interest earned on the loan
data['interest_paid'] = data['total_payment'] - data['loan_amount']
print(data['interest_paid'].head(5))

0   -1491
1     939
2   -8478
3     411
4     335
Name: interest_paid, dtype: int64

In [15]:
# Loan_to_income_ratio
# Ratio of loan amount to borrower’s annual income
data['loan_to_income_ratio'] = data['loan_amount'] / data['annual_income']
data['loan_to_income_ratio']=data['loan_to_income_ratio'].round(2)
print(data['loan_to_income_ratio'].head(5))

0    0.08
1    0.06
2    0.24
3    0.11
4    0.04
Name: loan_to_income_ratio, dtype: float64

In [16]:
# Interest Amount Column
# Total interest paid over the loan term
data['Interest_amount']=data['loan_amount']*(data['int_rate']/100)*(data['term']/12)
data['Interest_amount']=data['Interest_amount'].round(2)
print(data['Interest_amount'].head(5))

0    19.09
1    16.78
2    57.46
3    23.96
4     6.33
Name: Interest_amount, dtype: float64

In [17]:
# Installment to income
# Ratio of monthly loan installment to borrower’s monthly income
data['Installment_to_income']=(data['installment']/(data['annual_income']/12))*100
data['Installment_to_income']=data['Installment_to_income'].round(2)
print(data['Installment_to_income'].head(5))

0     2.39
1     2.74
2    10.12
3     2.77
4     1.54
Name: Installment_to_income, dtype: float64

In [18]:
print(data.describe())

                 id     member_id          term  annual_income           dti  \
count  3.857600e+04  3.857600e+04  38576.000000   3.857600e+04  38576.000000
mean   6.810371e+05  8.476515e+05     42.432393   6.964454e+04      0.133274
std    2.113246e+05  2.668105e+05     10.630366   6.429368e+04      0.066662
min    5.473400e+04  7.069900e+04     36.000000   4.000000e+03      0.000000
25%    5.135170e+05  6.629788e+05     36.000000   4.150000e+04      0.082100
50%    6.627280e+05  8.473565e+05     36.000000   6.000000e+04      0.134200
75%    8.365060e+05  1.045652e+06     60.000000   8.320050e+04      0.185900
max    1.077501e+06  1.314167e+06     60.000000   6.000000e+06      0.299900

        installment      int_rate   loan_amount     total_acc  total_payment  \
count  38576.000000  38576.000000  38576.000000  38576.000000   38576.000000
mean     326.862965      0.120488  11296.066855     22.132544   12263.348533
std      209.092000      0.037164   7460.746022     11.392282    9051.104777
min       15.690000      0.054200    500.000000      2.000000      34.000000
25%      168.450000      0.093200   5500.000000     14.000000    5633.000000
50%      283.045000      0.118600  10000.000000     20.000000   10042.000000
75%      434.442500      0.145900  15000.000000     29.000000   16658.000000
max     1305.190000      0.245900  35000.000000     90.000000   58564.000000

       emp_length_numeric     Year         Month  interest_paid  \
count        38576.000000  38576.0  38576.000000   38576.000000
mean             5.034127   2021.0      7.167073     967.281678
std              3.482800      0.0      3.398998    4210.036823
min              0.500000   2021.0      1.000000  -34196.000000
25%              2.000000   2021.0      4.000000     362.000000
50%              4.000000   2021.0      7.000000    1060.000000
75%              9.000000   2021.0     10.000000    2378.250000
max             10.000000   2021.0     12.000000   23564.000000

       loan_to_income_ratio  Interest_amount  Installment_to_income
count          38576.000000     38576.000000           38576.000000
mean               0.187122        56.288481               6.554324
std                0.115695        60.399746               3.979032
min                0.000000         1.210000               0.030000
25%                0.100000        17.790000               3.520000
50%                0.160000        34.080000               5.770000
75%                0.250000        71.422500               8.800000
max                0.830000       418.420000              32.030000